@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

a {
  color: #FFBA08;
}

.header {
  padding: 10px;
  background-color: #3F88C5;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: #D00000;
}

.location-info {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .location-info {
    position: absolute;
    top: 90px;
    width: 80vw;
    right: auto;
    margin: 10px;
    align-items: center;
  }
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-icon li {
  padding: 5px 0;
}
